<h2>Redaguoti žaidėjo <%= @current_user.nickname %> profilį </h2>
<br>

<%= error_messages_for @user, :header => "<h2>Klaida</h2>" %>

<%= form_for @user, :action => resource(@user) do %>
  <p><%= text_field :nickname, :label => "Jūsų vardas" %></p>
  <p><%= text_field :date_of_birth, :label => "Gimimo data" %></p>
  <p><%= text_field :phone_number, :label => "Telefono numeris" if @user.captain?%></p>
  <br/>
  <p><%= text_field :password, :label => "Slaptažodis: " %></p>
  <p><%= text_field :password_confirmation, :label => "Pakartokite slaptažodį: " %></p>
  <%= submit "Išsaugoti" %>
  <em><%= link_to "(atmesti)", url(:users) %></em>
<% end =%>
