<h2>
  Vartotojas <%= @current_user.nickname %>
  <% if @current_user.captain? %>
    (Komandos <%= link_to @current_user.team.name, url(:team_room) %> kapitonas)
  <% end %>
</h2>
<br>

<table>
  <tr><td width="150"><b>E-mail:</b></td>
      <td><%= current_user.email %></td></tr>
  <tr><td><b>Gimimo data:</b></td>
      <td><%= current_user.date_of_birth %></td></tr>
  <% if current_user.captain? %>
    <tr><td><b>Telefono numeris:</b></td>
        <td><%= current_user.phone_number %></td></tr>
  <% end %>
</table>
<br>

<em><%= link_to "Redaguoti profilį...", resource(current_user, :edit) %></em>
