<%= error_messages_for @user, :header => "<h2>Klaida</h2>" %>

<%= form_for @user, :action => url(:users) do %>
  <p><%= text_field :nickname, :label => "Vardas" %></p>
  <p><%= text_field :email, :label => "El. paštas" %></p>
  <p><%= password_field :password, :label => "Slaptažodis" %></p>
  <p><%= password_field :password_confirmation, :label => "Pakartoti slaptažodį" %></p>
  <%= submit "Registruotis" %>
<% end =%>
