<fieldset>
<% if logged_in? %>
  <legend>
    <%= link_to current_user.nickname, url(:dashboard) %>
    <% if current_user.member_of_any_team? %>
      (<%= link_to current_user.team.name, url(:team_room) %>)
    <% end %>
  </legend>

  <p>
    <%= link_to "Įrankinė", url(:dashboard) %>
  </p>

  <p>
    <%= link_to "Profilis", url(:users) %>
  </p>

  <p>
    <% if current_user.member_of_any_team? %>
      <%= link_to "Komandos kambarys", url(:team_room) %>
    <% else %>
      <%= link_to "Sukurti komandą", resource(:teams, :new) %>
    <% end %>
  </p>

  <p>
    <%= link_to "Visi žaidimai", resource(:games) %>
  </p>

  <p>
    <%= link_to "Atsijungti", url(:logout) %>
  </p>
<% else %>
  <legend>
    &nbsp;Išeiti&nbsp;
  </legend>

  <p>
    <%= link_to "Prisijungti", url(:login) %>
  </p>

  <p>
    <%= link_to "Užsiregistruoti", url(:signup) %> <br />
  </p>
<% end %>
