Nauja žaidimo užduotis <%= @level.game.name %><br />
<br />

<%= error_messages_for @level, :header => "<h2>Klaida</h2>" %>

<%= form_for @level, :action => resource(@game, :levels) do %>
  <p><%= text_field :name, :label => "Pavadinimas" %></p>

  <p><%= text_area :text, :label => "Užduoties tekstas" %></p>
  
  <p>
    <%= text_field :correct_answer, :label => "Kodas" %>
    <em>po sukūrimo galite pridėti daugiau užduočių kodų</em>
  </p>

  <%= submit "Pridėti užduotį" %>
  <em><%= link_to "(atmesti)", resource(@level.game) %></em>
<% end =%>
