<h2>
  Užduotis "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(žaidimas "<%= link_to @game.name, resource(@game) %>")</em>
</p>

<br />

<p>
  <em>Užduoties tekstas:</em>
</p>

<p>
  <%= @level.text %>
</p>

<p>
  <%= link_to "Redaguoti užduoties tekstą", resource(@game, @level, :edit) unless @level.game.started? %>
</p>

<br />

<% unless @level.multi_question? %>
  <p>
    <em>Kodas:</em>
    <div id="question-<%= @level.questions.first.id %>">
      <%= @level.correct_answer %>
      <%= link_to "(redaguoti)", resource(@game, @level, @level.questions.first, :answers) %>
    </div>
  </p>
<% else %>
  <p>
    <em>Kodai (<%= @level.questions.count %>):</em>
  </p>
  <% @level.questions.each do |question| %>
    <div id="question-<%=  question.id %>">
      <p><%= question.correct_answer %></p>
      <%= link_to "(redaguoti)", resource(@game, @level, question, :answers) %>
    </div>
  <% end %>
<% end %>

<p>
  <%= link_to "Pridėti dar vieną kodą", resource(@game, @level, :questions, :new) %>
</p>

<br />

<fieldset>
  <legend>
    Užuominos:
  </legend>

  <p>
    <%= partial 'hints/list', :hints => @level.hints %>
  </p>

  <p>
    <%= link_to "Pridėti užuominą", resource(@game, @level, :hints, :new) %>
  </p>
</fieldset>

<br />

<p>
  <%= link_to "Ištrinti šią užduotį", resource(@game, @level, :delete) %> <br />
</p>

<br />

<p>
  <%= link_to "Atgal į žaidimą \"#{@level.game.name}\"", resource(@level.game) %>
</p>
