<h1>Komandos "<%= @team.name %>" atsakymai lygyje "<%= @level.name %>", žaidimas "<%= @game.name %>"</h1>

<strong>Teisingas kodas: </strong>&nbsp;<%= @level.questions.first.correct_answer %>
<ul>
<% @logs.each do |log| %>
  <li><%= log.time.strftime("%H:%M:%S") %>&nbsp;<%= log.answer %></li>
<% end %>
</ul>
